<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head> 


<body>

    <div class="container1">
      <section class="showcase">
          <header>
            <h2 class="logo">USFA Fencing Results </h2>
            
          </header>
          <video class="video" src="/static/video/fencing.mp4" muted loop autoplay></video>
          <div class="overlay"></div>
          <div class="text">
            <h2>USFA Fencing Results</h2> 
            <h3>NAC Competitions</h3>
            <br>
            <p>See how you preformed at USFA NAC competitions and how you compare
                against your teammates and rivals.
            </p>
            <br>
            <br>
            <a onClick="document.getElementById('container2').scrollIntoView();">Explore</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
          <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
          </ul>
        </section>
        <div class="menu">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Destination</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
    </div>

    <div class="container2" id="container2">
      <div class="name_input">
        <h2>Fencer Results</h2>
        <form action="/" method="post">
          <div class="user-box">
            <input type="text" name="nm" placeholder="last name first name (ex. cho jonah)">
            <label>Name</label>
          </div>

          <input class="button" type="submit" value="submit">
        </form>

      </div>


      <!--
      <div class="name_input_two">
        <h2>Compare Fencers (Not built out yet)</h2>
        
        <form action="#" method="post">
          <div class="user-box">
            <input type="text" name="nm" placeholder="Last Name First Name">
            <label>Name</label>
          </div>

          <div class="user-box">
            <input type="text" name="nm" placeholder="Last Name First Name">
            <label>Name</label>
          </div>
          
          
          <input class="button" type="submit" value="submit">
        </form>

      </div>

      <a href="https://github.com/thedogwiththedataonit/USFA_RESULTS_APP">Github Code</a>
      -->

      <img class="foilfencing" src="/static/img/fencingfoil.png">
    </div>

    
</body>
</html>
