<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script type="text/javascript" src="/static/js/main.js"></script>
</head> 


<body>
    <header> 
        <a onclick="showloader();" href="/" class="logo">USFA Fencing Results</a>
        <hr style="width:100%", size="1", color=white>  
    </header>

    <!-- LOADER -->
    <div class="loader" id="loader" style="display:none;" >
        <div class="loader-inner">
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
        </div>
      </div>
    
    <div class="container3">
        <div class="containerhead">
            <div class="text1">
                <h2> {{ name }} </h2>
    
                {% for i in range(results[3]) %}
                <p>{{ results[2][i] }}
                {% endfor %}
            
                
            </div>
    
            {% if results[4] == "USA" %}
            <img class="USAFLAG" style="vertical-align: middle;"src="https://cdn.britannica.com/79/4479-050-6EF87027/flag-Stars-and-Stripes-May-1-1795.jpg">
            {% else %}
            <img class="CANFLAG" style="vertical-align: middle;" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Flag_of_Canada_%28Pantone%29.svg">
            {% endif %}
    
            <div class="roundedboxper">
                <br>
                <p> Ranking </p>
                <p> #number# </p>
            </div>
            <div class="roundedboxper">
                <br>
                <p> Win %</p>
                <p> {{ results[1] }} </p>
            </div>
        </div>

        <!-- create additional /cadet or /junior next to name, new template call, maybe yeah -->
        <div class="container_nav">
            <nav class="slidemenu">
                
                <!-- change the label tags to a tags so you can href to something -->
                
                <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked/>
                <label for="slide-item-1" onclick="window.location.href='/{{name}}/'; showloader();"> 
                    
                    <p class="icon">All</p><span>All Competitions</span>
                    
                </label>
                
                <!-- Item 1 -->
                <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"/>
                    <label onclick="window.location.href='/{{name}}/y14'; showloader();" for="slide-item-2" >
                        <p class="icon">14
                        </p>
                            <span>Y-14
                            </span>

                    </label>
                
                <!-- Item 2 -->
                <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
                    <label for="slide-item-3" onclick="window.location.href='/{{name}}/cadet'; showloader();">
                        <p class="icon">C</p>
                        <span>Cadet</span>
                    </label>
                
                <!-- Item 3 -->
                <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"/>
                <label for="slide-item-4" onclick="window.location.href='/{{name}}/junior'; showloader();">
                    <p class="icon">J</p><span>Junior</span></label>
                
                <!-- Item 4 -->
                <input type="radio" name="slideItem" id="slide-item-5" class="slide-toggle"/>
                <label for="slide-item-5" onclick="window.location.href='/{{name}}/div1'; showloader();">
                    <p class="icon">1</p><span>Division 1</span></label>

                <input type="radio" name="slideItem" id="slide-item-6" class="slide-toggle"/>
                <label for="slide-item-6" onclick="window.location.href='/{{name}}/div2'; showloader();">
                    <p class="icon">2</p><span>Division 2</span></label>

                <input type="radio" name="slideItem" id="slide-item-7" class="slide-toggle"/>
                <label for="slide-item-7" onclick="window.location.href='/{{name}}/div3'; showloader();">
                    <p class="icon">3</p><span>Division 3</span></label>
                
                <div class="clear"></div>
                
                <!-- Bar -->
            
                
            </nav>
            <div class="slider"></div>
            <div class="bar"></div>
        </div>
        
        <div class="accordion">
            {% for i in range(results[5]["len_attended_comps"]) %}
            <input type="radio" name="select" class="accordion-select" checked />
            <div class="accordion-title"><span>{{ results[5]["attended_comps"][i] }}</span></div>
            <div class="accordion-content">
                

                <div class="content_div">
                    <div class="content_header">
                        <div class="text2">
                            <h2>Won Against
                                <hr style="width:100%", size="1", color=white> 
                            </h2>

                            <div class="content_name_score">
                                {% for j in range(results[5]["win_fencer_len"][i]) %}
                                <div class="content_names">
                                    <div class="text2">
                                        <a onclick="showloader();" href="/{{ results[5]['win_fencer_list'][i][j] }}">{{ results[5]["win_fencer_list"][i][j] }}</a> 
                                    </div>
                                </div>
                                
                                <div class="content_scores">
                                    <div class="text2_win">
                                        <h2> {{ results[5]["win_score_list"][i][j] }} </h2> 
                                    </div>
                                </div>
                                <br>
                                {% endfor %}
        
                            </div>
                             
                        </div>
                        <div class="text2">
                            <h2>Lost Against
                                <hr style="width:100%", size="1", color=white> 
                            </h2>
                             
                            <div class="content_name_score">
                                {% for j in range(results[5]["loss_fencer_len"][i]) %}
                                <div class="content_names">
                                    <div class="text2">
                                        <a onclick="showloader();" href="/{{ results[5]['loss_fencer_list'][i][j] }}">{{ results[5]["loss_fencer_list"][i][j] }}</a> 
                                    </div>
                                </div>
                                
                                <div class="content_scores">
                                    <div class="text2_loss">
                                        <h2> {{ results[5]["loss_score_list"][i][j] }} </h2> 
                                    </div>
                                </div>
                                <br>
                                {% endfor %}
                            </div>

                        </div>
                    

                        <div class="text2">
                            <h2>Indicator
                                <hr style="width:100%", size="1", color=white> 
                            </h2>
                            <div class="content_name_score">
                                <h2> {{ results[5]["indicator_list"][i] }} </h2>
                            </div>
                        </div>

                        <div class="text2">
                            <h2>Touches Scored
                                <hr style="width:100%", size="1", color=white> 
                            </h2>
                            <div class="content_name_score">
                                <h2> +{{ results[5]["touch_scored_list"][i] }} </h2>
                            </div>
                        </div>

                        <div class="text2">
                            <h2>Touches Receieved
                                <hr style="width:100%", size="1", color=white> 
                            </h2>
                            <div class="content_name_score">
                                <h2> -{{ results[5]["touch_rec_list"][i] }} </h2>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="content_div_WL">

                </div>
                <br>
            </div> 
            {% endfor %}
        </div> 


    <div class=container4>
        <div class="text1">
            <br>
            <br>
            <br>
            <br>
            <p> Alpha Version 2.0</p>
        </div>
    </div>
             
    
    </div>


</body>

</html>