<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script type="text/javascript" src="/static/js/main.js"></script>
</head> 


<body>
    <header> 
        <a onclick="showloader();" href="/" class="logo" style="line-height: 40px;">USFA Fencing Results</a>
        <hr style="width:90%;;", size="1", color=white>  

        <nav>
            <div class="navicon">
              <div></div>
            </div>
          
            <a onclick="window.location.href='/competitions'; showloader();">Competitions</a>
            <a onclick="window.location.href='/fencers'; showloader();">Fencers</a>
            <a onclick="window.location.href='/betting'; showloader();">Betting</a>
          
        </nav>

    </header>


    <!-- LOADER -->
    <div class="loader" id="loader" style="display:none;" >
        <div class="loader-inner">
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
        </div>
      </div>


    <div class="container3">
        <div class="containerhead">
            <div class="text1">
                <h2> {{ name }} </h2>
    
                {% if results[2]|length <= 3 %}
                    {% for i in range(results[3]) %}
                    <p>{{ results[2][i] }}</p>
                    {% endfor %}
                {% else %}
                    <p>{{ results[2][-1] }}</p>
                    <p>{{ results[2][-2] }}</p>
                    <p>{{ results[2][-3] }}</p>
                {% endif %}
            
                
            </div>
    
            {% if results[4] == "USA" %}
            <img class="USAFLAG" style="vertical-align: middle;"src="https://cdn.britannica.com/79/4479-050-6EF87027/flag-Stars-and-Stripes-May-1-1795.jpg">
            {% elif results[4] == "CAN" %}
            <img class="CANFLAG" style="vertical-align: middle;" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Flag_of_Canada_%28Pantone%29.svg">
            {% else %}
            <img class="USAFLAG" style="vertical-align: middle;"src="https://cdn.britannica.com/79/4479-050-6EF87027/flag-Stars-and-Stripes-May-1-1795.jpg">
            
            {% endif %}
    
            <div class="roundedboxper">
                <h2> Weapon </h2>
                <br>
                {% for b in range(results[6]|length) %} 
                <p> {{ results[6][b] }} </p>
                {% endfor %}
            </div>
            <div class="roundedboxper">
                <h2> Wins</h2>
                <br>
                <p> {{ results[1] }}% </p>
            </div>
            <div class="star_container">
                {% if results[1] < 20 %}
                <img class="star" src="/static/img/star.png">
                {% elif 20 <= results[1] < 40 %}
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                {% elif 40 <= results[1] < 60 %}
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                {% elif 60 <= results[1] < 80 %}
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                {% elif 80 <= results[1] < 90 %}
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                {% else %}
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                <img class="star" src="/static/img/star.png">
                {% endif %}

            </div>

            

        </div>

        <!-- create additional /cadet or /junior next to name, new template call, maybe yeah -->
        <div class="container_nav">
            <nav class="slidemenu">
                
                <!-- change the label tags to a tags so you can href to something -->
                
                <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle"/>
                <label for="slide-item-1" onclick="window.location.href='/{{name}}/'; showloader();"> 
                    
                    <p class="icon">All</p><span>All Competitions</span>
                    
                </label>
                
                <!-- Item 1 -->
                <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" checked/>
                    <label onclick="window.location.href='/{{name}}/y14'; showloader();" for="slide-item-2" >
                        <p class="icon">14
                        </p>
                            <span>Y-14
                            </span>

                    </label>
                
                <!-- Item 2 -->
                <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
                    <label for="slide-item-3" onclick="window.location.href='/{{name}}/cadet'; showloader();">
                        <p class="icon">C</p>
                        <span>Cadet</span>
                    </label>
                
                <!-- Item 3 -->
                <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"/>
                <label for="slide-item-4" onclick="window.location.href='/{{name}}/junior'; showloader();">
                    <p class="icon">J</p><span>Junior</span></label>
                
                <!-- Item 4 -->
                <input type="radio" name="slideItem" id="slide-item-5" class="slide-toggle"/>
                <label for="slide-item-5" onclick="window.location.href='/{{name}}/div1'; showloader();">
                    <p class="icon">1</p><span>Division 1</span></label>

                <input type="radio" name="slideItem" id="slide-item-6" class="slide-toggle"/>
                <label for="slide-item-6" onclick="window.location.href='/{{name}}/div2'; showloader();">
                    <p class="icon">2</p><span>Division 2</span></label>

                <input type="radio" name="slideItem" id="slide-item-7" class="slide-toggle"/>
                <label for="slide-item-7" onclick="window.location.href='/{{name}}/div3'; showloader();">
                    <p class="icon">3</p><span>Division 3</span></label>
                
                <div class="clear"></div>
                
                <!-- Bar -->
            
                
            </nav>
            <div class="slider"></div>
            <div class="bar"></div>
        </div>

        
    <div class=container4>
        <div class="text1">
    
            <br>
            <br>
            <p> No y14 Data in the database...</p>
            <br>
            <br>
            <p> {{message}}</p>
        </div>
    </div>
             
    
    </div>


</body>

</html>